/* Place your CSS styles in this file */

h1 {
    text-align: center;
    font-family: "Times New Roman";
    font-weight: heavy;
    color: rgb(255, 182, 193);
}

h2 {
    text-align: center;
    font-family: "Times New Roman";
    font-weight: normal;
    color: rgb(255, 90, 172)
}

h3 {
    font-family: "Times New Roman";
    font-weight: normal;
    color: rgb(255, 182, 193);
}

figcaption {
    font-family: "Times New Roman";
    font-weight: lighter;
    color: rgb(255, 182, 193);
}

p {
  text-align: center;
  font-family: "Times New Roman";
  font-weight: normal;
  color: rgb(255, 182, 193);
}